<div class="main">
  <div class="center">
    <h2>あなたの小説のジャンルを判定しよう</h2>
    <p>あなたの小説のあらすじを下記のフォームに入力してみよう！</p>
  </div>
  
  <div class="center">
    <%= form_with method: :get, local: true do |form| %>
      <%= form.text_area :search, class: 'form-control', size: "40x15" %>
      <br>
      <%= form.submit 'ジャンル判定を行う', name: nil, class: 'center'  %>
    <% end %>
  </div>
  
  <% if @genre.present? %>
    <div class="center">
      <strong><h2><%= "あなたが入力したあらすじのジャンルは、" + @genre[0].to_s + "と判定されました！！" %></h2></strong>
    </div>
  <% end %>

</div>